<div class="mb-4">
    <h1>Pedidos Recibidos</h1>
    <hr>
</div>

<div class="container mb-3">
    <div class="row">
        <div class="col-md-3 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Estado</mat-label>
                <mat-select [(ngModel)]="filter.estadoId">
                    <mat-option [value]="null">Todas</mat-option>
                    <mat-option *ngFor="let est of listEstados" [value]="est.id">
                        {{ est.descripcion }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-md-3 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Buscar por Código</mat-label>
                <input matInput [(ngModel)]="filter.codigo" (input)="RG.text($event)" maxlength="200">
            </mat-form-field>
        </div>

        <div class="col-md-3 mb-3">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Buscar por Descripción</mat-label>
                <input matInput [(ngModel)]="filter.descripcion" (input)="RG.text($event)" maxlength="200">
            </mat-form-field>
        </div>        

        <div class="col-md-3 d-flex justify-content-start align-items-center mb-3">
            <button class="btn btn-primary" (click)="search()" title="Buscar">
                <i class="fas fa-search"></i>
            </button>
            <button class="btn btn-secondary" (click)="cleanSearch()" tittel="Limpiar" style="margin-left: 10px;">
                <i class="fas fa-eraser"></i>
            </button>
        </div>

        <div class="col-md-6 mb-3">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Buscar por Proveedor</mat-label>
            <input matInput [(ngModel)]="filter.proveedor" (input)="RG.text($event)" maxlength="200">
        </mat-form-field>
      </div>

    </div>
</div>

<ngx-datatable class="bootstrap" [rows]="result" [columns]="columns" [limit]="5" [columnMode]="'force'"
    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">    
    
    <ng-template #colAccionTemplate let-row="row">
        <button class="btn btn-primary btn-sm" style="margin-left: 5px;" (click)="openDetallePedido(row)" title="Ver">
            <i class="fas fa-eye"></i>
        </button>
    </ng-template>
</ngx-datatable>

<ng-template #detallePedidoTemplate>
  <h2 mat-dialog-title>Detalle del Pedido #{{record.codigo}}</h2>
  <mat-dialog-content class="factura-content">

    <div class="row mb-3">
      <div class="col-12">
        <h4>Información General</h4>
      </div>

      <div class="col-md-4">
        <div class="info-block">
          <div class="info-label">Proveedor:</div>
          <div class="info-value">{{ record.proveedor?.razonSocial }}</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info-block">
          <div class="info-label">RUC:</div>
          <div class="info-value">{{ record.proveedor?.ruc }}</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info-block">
          <div class="info-label">Estado:</div>
          <div class="info-value">{{ record.estado?.descripcion }}</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info-block">
          <div class="info-label">Fecha de Registro:</div>
          <div class="info-value">{{ convertirFecha(record.fechaRegistro) }}</div>
        </div>
      </div>

      <div class="col-md-12">
        <h4>Datos de Envío</h4>
      </div>

      <div class="col-md-4">
        <div class="info-block">
          <div class="info-label">Descripción:</div>
          <div class="info-value">{{ record.descripcion }}</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info-block">
          <div class="info-label">Número de Factura:</div>
          <div class="info-value">{{ record.numeroFactura }}</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info-block">
          <div class="info-label">Guía de Remisión:</div>
          <div class="info-value">{{ record.serieGuia }} - {{ record.numeroGuia || 'Sin guía' }}</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="info-block">
          <div class="info-label">Fecha de Entrega:</div>
          <div class="info-value">{{ convertirFecha(record.fechaEntrega) }}</div>
        </div>
      </div>

      <div class="col-12 mt-4">
        <h4>Productos</h4>
        <div class="tabla-container">
          <table class="tabla-pedidos">
            <thead>
              <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Precio Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of record.pedidoProducto">
                <td>{{ row.id }}</td>
                <td>{{ row.producto?.nombre }}</td>
                <td>{{ row.cantidad }}</td>
                <td>{{ row.monto }}</td>
                <td>{{ calcularMontoTotalPorProducto(row.cantidad,row.monto) }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="fila-subtotal">
                <td colspan="4" class="text-end"><strong>Subtotal</strong></td>
                <td>S/ {{ calcularSubTotal() | number: '1.2-2' }}</td>
              </tr>
              <tr class="fila-total">
                <td colspan="4" class="text-end"><strong>Total (incluye IGV)</strong></td>
                <td>S/ {{ calcularTotal() | number:'1.2-2' }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <div class="info-block">
          <div class="info-label">OBSERVACIÓN DE ENVÍO:</div>
          <div class="info-value">{{ record.observacionEnvio }}</div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
  </mat-dialog-actions>
</ng-template>
